.switch__container {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .switch__container--btn {
    padding: 14px 25px;
    border-radius: 10px;
    background: var(--color-primary);
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease;
  }
}

.switch__container--mobile {
  display: none;
}

.active {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  
  .switch__container {
    display: none;
  }

  .switch__container--btn {
    background: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 11px 25px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease;
  }

  .switch__container--mobile {
    margin-top: 0px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .active {
    background: #132950;
    color: #fff;
  }
}