
.footer
    margin-top: 110px
    padding: 50px 0
    background: #E9F1F3
    .inner
        display: flex
        .block__one
            width: 30%
            .logo
                display: flex
                align-items: center
            .contacts
                h2
                    color: #000
                    font-size: 24px
                    font-style: normal
                    font-weight: 500
                    line-height: 160%
                    letter-spacing: 0.84px
                h3
                    color: #000
                    font-size: 16px
                    font-style: normal
                    font-weight: 500
                    line-height: normal
                .icons
                    display: flex
                    svg
                        margin-right: 40px
        .block__two
            width: 20%
            h5
                margin: 20px 0
                color: #000
                font-size: 14px
                font-style: normal
                font-weight: 500
                line-height: 150%
                letter-spacing: 0.84px
        .block__three
            width: 20%
            h5
                margin: 20px 0
                color: #000
                font-size: 14px
                font-style: normal
                font-weight: 500
                line-height: 150%
                letter-spacing: 0.84px
        .block__four
            width: 30%
            h3
                color: #000
                font-size: 14px
                font-style: normal
                font-weight: 600
                line-height: 150%
                letter-spacing: 0.96px
            p
                color: rgba(0, 0, 0, 0.70)

                font-size: 14px
                font-style: normal
                font-weight: 500
                line-height: 150%
                letter-spacing: 0.84px
            form
                display: flex
                input
                    width: 170.636px
                    height: 38.502px
                    border-radius: 5px
                    border: 1px solid #132950
                    color: #000
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    letter-spacing: 0.84px
                button
                    padding: 10px 7px
                    color: #FFF
                    font-size: 14px
                    font-style: normal
                    font-weight: 700
                    line-height: 150%
                    letter-spacing: 0.84px
                    border-radius: 5px
                    background: #01A0C7
                    outline: none
                    border: none

@media only screen and (max-width: 600px)

    .footer
        margin-top: 0px
        padding: 30px 0
        .inner
            display: flex
            .block__one
                width: 100%
                .contacts
                    h2
                        color: #000
                        font-size: 24px
                        font-style: normal
                        font-weight: 500
                        line-height: 160%
                        letter-spacing: 0.84px

                        h3
                            color: #000
                            font-size: 16px
                            font-style: normal
                            font-weight: 500
                            line-height: normal

                        .icons
                            display: flex

                            svg
                                margin-right: 40px

            .block__two
                display: none

            .block__three
                display: none

            .block__four
                display: none

                h3
                    color: #000
                    font-size: 16px
                    font-style: normal
                    font-weight: 600
                    line-height: 150%
                    letter-spacing: 0.96px

                p
                    color: rgba(0, 0, 0, 0.70)
                    font-size: 14px
                    font-style: normal
                    font-weight: 500
                    line-height: 150%
                    letter-spacing: 0.84px

                form
                    input
                        width: 170.636px
                        height: 38.502px
                        border-radius: 5px
                        border: 1px solid #132950
                        color: #000
                        font-size: 14px
                        font-style: normal
                        font-weight: 400
                        line-height: 150%
                        letter-spacing: 0.84px

                    button
                        padding: 10px 7px
                        color: #FFF
                        font-size: 14px
                        font-style: normal
                        font-weight: 700
                        line-height: 150%
                        letter-spacing: 0.84px
                        border-radius: 5px
                        background: #01A0C7
                        outline: none
                        border: none
                        margin-left: 20px
