.header
  .inner
      align-items: center
      display: flex
      justify-content: space-between
      margin-bottom: 75px
      padding: 0 10px 0 5px
      .block
        display: block
        align-items: center
        display: flex
        justify-content: space-between
        .nav__link
          color: white
          text-decoration: none
      .menu
        display: none
        position: relative
        .show
          border-radius: 20px
          background: rgba(0, 0, 0, 0.30)
          position: absolute
          backdrop-filter: blur(7.5px)
          top: 30px
          padding: 20px 30px
          right: -10px
          z-index: 999
          .nav 
            display: flex
            flex-direction: column
            .link
              color: var(--color-white)
              text-align: left
              text-decoration: none
              font-size: 16px
              font-style: normal
              font-weight: 500
              line-height: 150%
              letter-spacing: 0.96px
              margin: 10px 0
      .logo
        display: flex
        align-items: center
      button
        border-radius: 10px
        background: var(--color-primary)
        color: #FFF
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: normal
        outline: none
        border: none
        padding: 12px 31px
        cursor: pointer

.logo
  padding: 5px 0 0 0

// Сам тур 

.tour__header
  background: url('/images/tour_header.png') lightgray 0px 0px / 100% 110.893% no-repeat
  background-size: cover
  padding-bottom: 100px

.tour__title
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: 1fr
  grid-gap: 117px
  .tour__desc
    // margin-right: 117px
    h1
      color: var(--color-white)
      font-size: 40px
      font-style: normal
      margin-bottom: 58px
      font-weight: 500
      line-height: normal
    p
      color: var(--color-white)
      font-size: 20px
      font-style: normal
      font-weight: 500
      line-height: normal
  .tour__buy
    // margin-bottom: 100px
    img
      margin-bottom: 31px
    h5
      color: var(--color-white)
      font-style: normal
      font-size: 24px
      font-weight: 500
      line-height: normal
      margin-bottom: 12px
    h1
      color: var(--color-white)
      font-size: 48px
      font-style: normal
      font-weight: 600
      line-height: normal
      margin-bottom: 20px   
    button
      border-radius: 10px
      color: var(--color-white)
      font-size: 24px
      font-style: normal
      font-weight: 600
      line-height: normal
      transition: all 0.3s ease
      &:hover
        transform: scale(1.05)
    .tour__buying
      padding: 18px 52px
      margin-right: 17.71px
      background: var(--color-primary)
    .tour__basket
      background: #132950
      padding: 18px 36px 18px 52px

.tour__info
  background: var(--color-white)
  padding-top: 60px

.tour__info_help
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 117px
  .tour__help_left
    margin-bottom: 80px
    h1
      color: #000
      font-size: 40px
      font-style: normal
      font-weight: 500
      line-height: normal
      margin-bottom: 20px
    p
      color: #000
      font-size: 20px
      font-style: normal
      // width: 651.214px
      font-weight: 500
      line-height: normal
      margin-bottom: 30px
    h4
      color: #000
      font-size: 20px
      font-style: normal
      font-weight: 500
      margin-bottom: 30px
      line-height: normal
      span
        color: #000
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: normal
  .tour__help_right
    padding-top: 11px

.tour__map
  padding: 0 18px 16.3px 18px
  background: #132950
  width: 466px
  border-radius: 20px
  margin-bottom: 75px
  h1
    color: var(--color-white)
    font-size: 24px
    font-style: normal
    padding-top: 15px
    margin-bottom: 10px
    font-weight: 500
    line-height: normal
  .tour__sight_map
    width: 430px
    height: 235px

.tour__grade
  display: flex
  h5
    color: #000
    font-size: 26px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-right: 16px

.related__items
  h1
    color: #000
    font-size: 36px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-bottom: 65px
  .related__items_filter
    margin-bottom: 22px
    display: flex
    justify-content: space-between
    align-items: center
    .card__filter
      display: flex
      h5
        color: #000
        font-size: 20px
        font-style: normal
        font-weight: 500
        line-height: normal
      .filtered
        margin-left: 18.2px
    .card__position
      position: relative
      left: -150px
      svg
        margin-right: 28px

.mobile
  display: none

@media only screen and (max-width: 700px)
  .header
    .inner
      .menu
        display: block
      .block
        display: none
  // Десктоп
  .tour__header
    display: none
  .tour__info
    display: none
  .related__items
    display: none
  // Десктоп

  // Мобилка
  .mobile
    display: block
    .mobile__tour_header
      background: url('/images/tour_header.png') lightgray 0px 0px / 100% 110.893% no-repeat
      background-size: cover
      padding-bottom: 100px
      .mobile__tour_title
        h1
          color: var(--color-white)
          font-size: 32px
          font-style: normal
          font-weight: 500
          line-height: normal
          text-align: center
          margin-bottom: 39.5px
        p
          color: var(--color-white)
          text-align: center
          font-size: 21px
          font-style: normal
          font-weight: 400
          line-height: 120%
      .mobile__tour_more
        margin-top: 30px
        padding-left: 41px
        h4
          color: var(--color-white)
          font-size: 12px
          font-style: normal
          font-weight: 500
          line-height: normal
          span
            color: var(--color-white)
            font-size: 12px
            font-style: normal
            font-weight: 600
            line-height: normal
  .img
    margin-top: 45px
    border-radius: 5px
  .mobile__tour_img
    display: flex
    justify-content: center
    align-items: center
    img
      width: 350px
  .mobile__tour_cost
    margin-top: 30px
    padding: 0 41px 0 41px
    h5
      color: var(--color-white)
      font-size: 20px
      font-style: normal
      font-weight: 500
      line-height: normal
      margin-bottom: 12px
    h1
      color: var(--color-white)
      font-size: 48px
      font-style: normal
      font-weight: 600
      line-height: normal
      margin-bottom: 30px
  .mobile__tour_btn
    display: flex
    justify-content: center
    align-items: center
    button
      border-radius: 10px
      color: var(--color-white)
      font-size: 22px
      font-style: normal
      font-weight: 600
      line-height: normal
      transition: all 0.3s ease
      &:hover
        transform: scale(1.05)
    .tour__buying
      padding: 10px 35px
      margin-right: 13.71px
      background: var(--color-primary)
    .tour__basket
      background: #132950
      padding: 11px 25px

  .mobile__main
    background: var(--color-primary)
    box-shadow: 0px -32px 16px 6px var(--color-primary)
    .mobile__tour_info
      padding-bottom: 70px
      .container__info
        padding: 0 35px 0 35px
        .mobile__info_title
          padding-top: 70px
          h1
            color: var(--color-white)
            text-align: center
            font-size: 28px
            font-style: normal
            font-weight: 500
            line-height: normal
            margin-bottom: 20px
          p
            color: var(--color-white)
            text-align: center
            font-size: 18px
            font-style: normal
            font-weight: 500
            line-height: normal
          h4
            color: var(--color-white)
            font-size: 18px
            font-style: normal
            font-weight: 500
            margin-bottom: 20px
            line-height: normal
            text-align: center
            span
              color: var(--color-white)
              font-size: 20px
              font-style: normal
              font-weight: 600
              line-height: normal
              text-align: center
        .map_center
          display: flex
          justify-content: center
          flex-direction: column
          align-items: center
          padding-top: 7px
          .mobile__map
            border-radius: 20px
            background: #132950
            width: 312.966px
            padding: 15.75px 12px 11px 12px
            h5
              color: var(--color-white)
              font-size: 15px
              font-style: normal
              text-align: center
              font-weight: 600
              line-height: normal
          .mobile__grade
            margin-top: 32px
            display: flex
            h5
              color: var(--color-white)
              font-size: 16px
              font-style: normal
              font-weight: 500
              line-height: normal
              margin-right: 12px

.related__items_mobile
  h1
    color: var(--color-white)
    text-align: center
    font-size: 32px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-bottom: 14px
  .card__filter
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 33.4px
    h5
      color: var(--color-white)
      text-align: center
      font-size: 14px
      font-style: normal
      font-weight: 500
      line-height: normal
      margin-right: 8.3px
    svg
      position: relative
      top: -4px
      path 
        fill: #fff

  .card__mobile
    display: grid
    grid-template-columns: repeat(2, 140px)
    grid-template-rows: 1fr 25px 1fr
    justify-items: center
    grid-column-gap: 30px
    justify-content: center

  
  
  .container__related
    // padding: 0 35px 0 35px
  .mobile__main
    background: var(--color-primary)

.link 
  svg 
    padding: 1px 2px 5px 0px